<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>Memeto by sielayltd</title>
	<link rel="stylesheet" href="stylesheets/styles.css">
	<link rel="stylesheet" href="stylesheets/github-dark.css">
	<link rel="stylesheet" href="stylesheets/core.css">
	<link rel="stylesheet" href="stylesheets/demo.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Amatic+SC">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="javascripts/angular.min.js"></script>
	<script src="javascripts/angular-sanitize.min.js"></script>
	<script src="javascripts/app.js"></script>
	<script src="javascripts/respond.js"></script>
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
<body>
<div id="header">
	<nav>
		<li class="fork"><a href="https://github.com/sielayltd/memeto">View On GitHub</a></li>
		<li class="downloads"><a href="https://github.com/sielayltd/memeto/zipball/master">ZIP</a></li>
		<li class="downloads"><a href="https://github.com/sielayltd/memeto/tarball/master">TAR</a></li>
		<li class="title">DOWNLOADS</li>
	</nav>
</div>
<!-- end header -->

<div class="wrapper">

	<section>
		<div id="title">
			<h1>Memeto</h1>

			<p></p>
			<hr>
			<span class="credits left">Project maintained by <a href="https://github.com/sielayltd">sielayltd</a></span>
			<span class="credits right">Hosted on GitHub Pages &mdash; Based on theme by <a
					href="https://twitter.com/michigangraham">mattgraham</a></span>
		</div>

		<div ng-app="demo">
			<div class="slack">
				<div class="sidebar">
					<h3>Guest</h3>
					<h4>Channels</h4>
					<ul class="list-unstyled">
						<li>
							#general
						</li>
					</ul>
				</div>
				<div class="messages" ng-controller="Messages">
					<div>
						<h3>#general</h3>
					</div>
					<div class="stream" ng-bottom="messages">
						<h2>#general</h2>

						<p>
							Main channel for out awesome team.
						</p>

						<div class="message row" data-ng-repeat="message in messages">
							<div class="col-xs-1">
								<img class="thumb" ng-src="{{message.thumb}}"/>
							</div>
							<div class="col-xs-11">
								<h6>{{ message.author }} </h6>
								<span class="time">{{ message.time | date : "h:mm a" }}</span>

								<p ng-bind-html="message.text"></p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div>
						<input readonly type="text" ng-model="message"
							   class="form-control"
							   id="msginput"/>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both" class="m-b-xl"></div>


		<h3>

			What is Memeto?</h3>

		<p>
			Memeto is set of applications that help you bind tolls you already you and easily answer daily questions.
		</p>
		<img src="images/intro1.png" style="margin:auto;display:block">

		<h3>
			License</h3>

		<p>
			Memeto will be released under dual license CPAL-1.0 (based on MPL) and commercial. That means it will be
			open source,
			free also for commercial use, but requiring source to remain open.
		</p>

		<h3>Contribute or early access?</h3>

		Please contact the author <a href="mailto:lukaszsielski@gmail.com">lukaszsielski@gmail.com</a>.
	</section>

</div>
<!--[if !IE]>
<script>fixScale(document);</script><![endif]-->

</body>
</html>
