<section data-ng-controller="HomeController" class="homepage">
	<div class="content">
		<div class="container">
			<div class="jumbotron text-center">
				<div class="row">
					<p class="lead">
						<strong>What</strong> project is maintained by this team?<br/>
						<strong>Who</strong> is responsible for this?<br/>
						<strong>When</strong> it was done?<br/>
						One answer<br/>
					<h1>Meet My Team</h1>
					</p>
				</div>
				<div class="row">
					<p>
						<a class="btn btn-primary btn-lg" href="http://sielayltd.github.io/memeto/" target="_blank">Learn more</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="whitestripe">
		<h4>The tool you were missing</h4>
		<p>
			Easy to discover directory of teams, organisations, objects and roles
		</p>
	</div>
	<div class="content">
		<div class="container">

		</div>
	</div>
</section>
