<div class="panel panel-default" data-ng-controller="TypesController">
	<div class="panel-heading">
		<h3 class="panel-title">Types</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Icon</th>
					<th>Parent</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="type in types">
					<td data-ng-bind="type.name"></td>
					<td data-ng-bind="type.icon"></td>
					<td data-ng-bind="type.superClass"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
